[Desktop Entry]
Name=pass_runner
Name[ar]=pass_runner
Name[ast]=pass_runner
Name[ca]=pass_runner
Name[ca@valencia]=pass_runner
Name[cs]=pass_runner
Name[da]=pass_runner
Name[de]=pass_runner
Name[el]=pass_runner
Name[en_GB]=pass_runner
Name[es]=pass_runner
Name[et]=pass_runner
Name[fi]=pass_runner
Name[fr]=pass_runner
Name[gd]=pass_runner
Name[gl]=pass_runner
Name[ia]=pass_runner
Name[it]=pass_runner
Name[ko]=pass_runner
Name[lt]=pass_runner
Name[nb]=pass_runner
Name[nl]=pass_runner
Name[nn]=pass_runner
Name[pa]=pass_runner
Name[pl]=pass_runner
Name[pt]=pass_runner
Name[pt_BR]=pass_runner
Name[ru]=pass_runner
Name[sk]=pass_runner
Name[sl]=pass_runner
Name[sr]=pass_runner
Name[sr@ijekavian]=pass_runner
Name[sr@ijekavianlatin]=pass_runner
Name[sr@latin]=pass_runner
Name[sv]=pass_runner
Name[tr]=pass_runner
Name[uk]=pass_runner
Name[x-test]=xxpass_runnerxx
Name[zh_CN]=pass_runner
Name[zh_TW]=pass_runner
Comment=pass_runner runner
Comment[ar]=مشغّل pass_runner
Comment[ca]=Llançador del pass_runner
Comment[ca@valencia]=Llançador del pass_runner
Comment[cs]=pass_runner runner
Comment[da]=pass_runner-runner
Comment[de]=pass_runner-Starter
Comment[el]=εκτελεστής pass_runner
Comment[en_GB]=pass_runner runner
Comment[es]=Lanzador de pass_runner
Comment[et]=pass_runner käivitaja
Comment[fi]=pass_runner-suoritusohjelma
Comment[fr]=Runner pass_runner
Comment[gd]=Ruithear pass_runner
Comment[gl]=Executor de pass_runner
Comment[ia]=pass_runner executor (runner)
Comment[it]=Esecutore di pass_runner
Comment[ko]=pass_runner 실행기
Comment[lt]=pass_runner paleidiklis
Comment[nb]=pass_runner-kjører
Comment[nl]=pass_runner runner
Comment[nn]=pass_runner-køyrar
Comment[pa]=pass_runner ਰਨਰ
Comment[pl]=Uruchamianie pass_runner
Comment[pt]=Execução do pass_runner
Comment[pt_BR]=Execução do pass_runner
Comment[ru]=Расширение KRunner pass_runner
Comment[sk]=pass_runner runner
Comment[sl]=Zaganjalnik pass_runner
Comment[sr]=pass_runner извођач
Comment[sr@ijekavian]=pass_runner извођач
Comment[sr@ijekavianlatin]=pass_runner izvođač
Comment[sr@latin]=pass_runner izvođač
Comment[sv]=Körprogram pass_runner
Comment[tr]=pass_runner çalıştırıcı
Comment[uk]=Засіб запуску pass_runner
Comment[x-test]=xxpass_runner runnerxx
Comment[zh_CN]=pass_runner 运行器
Comment[zh_TW]=pass_runner runner
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_pass_runner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=pass_runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
