[Desktop Entry]
Name=Password Store
Name[ar]=Password Store
Name[ast]=Password Store
Name[ca]=Password Store
Name[ca@valencia]=Password Store
Name[cs]=Password Store
Name[da]=Password Store
Name[de]=Password Store
Name[el]=Password Store
Name[en_GB]=Password Store
Name[es]=Password Store
Name[et]=Password Store
Name[fi]=Password Store
Name[fr]=Password Store
Name[gd]=Password Store
Name[gl]=Password Store
Name[ia]=Password Store
Name[it]=Password Store
Name[ko]=Password Store
Name[lt]=Password Store
Name[nb]=Password Store
Name[nl]=Password Store
Name[nn]=Password Store
Name[pa]=Password Store
Name[pl]=Password Store
Name[pt]=Password Store
Name[pt_BR]=Password Store
Name[ru]=Password Store
Name[sk]=Password Store
Name[sl]=Password Store
Name[sr]=Password Store
Name[sr@ijekavian]=Password Store
Name[sr@ijekavianlatin]=Password Store
Name[sr@latin]=Password Store
Name[sv]=Password Store
Name[tr]=Password Store
Name[uk]=Password Store
Name[x-test]=xxPassword Storexx
Name[zh_CN]=Password Store
Name[zh_TW]=Password Store
Comment=Password Store runner
Comment[ar]=مشغّل Password Store
Comment[ca]=Llançador del Password Store
Comment[ca@valencia]=Llançador del Password Store
Comment[cs]=Password Store runner
Comment[da]=Password Store-runner
Comment[de]=Password Store-Starter
Comment[el]=εκτελεστής Password Store
Comment[en_GB]=Password Store runner
Comment[es]=Lanzador de Password Store
Comment[et]=Password Store käivitaja
Comment[fi]=Password Store-suoritusohjelma
Comment[fr]=Runner Password Store
Comment[gd]=Ruithear Password Store
Comment[gl]=Executor de Password Store
Comment[ia]=Password Store executor (runner)
Comment[it]=Esecutore di Password Store
Comment[ko]=Password Store 실행기
Comment[lt]=Password Store paleidiklis
Comment[nb]=Password Store-kjører
Comment[nl]=Password Store runner
Comment[nn]=Password Store-køyrar
Comment[pa]=Password Store ਰਨਰ
Comment[pl]=Uruchamianie Password Store
Comment[pt]=Execução do Password Store
Comment[pt_BR]=Execução do Password Store
Comment[ru]=Расширение KRunner Password Store
Comment[sk]=Password Store runner
Comment[sl]=Zaganjalnik Password Store
Comment[sr]=Password Store извођач
Comment[sr@ijekavian]=Password Store извођач
Comment[sr@ijekavianlatin]=Password Store izvođač
Comment[sr@latin]=Password Store izvođač
Comment[sv]=Körprogram Password Store
Comment[tr]=Password Store çalıştırıcı
Comment[uk]=Засіб запуску Password Store
Comment[x-test]=xxPassword Store runnerxx
Comment[zh_CN]=Password Store 运行器
Comment[zh_TW]=Password Store runner
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=pass_runner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=pass_runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
